body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

div {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 2px;
  margin-left: 2px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.slide-enter {
    transform: translateX(100vw);
    opacity: 0;
    position: absolute;
    
}

/* Declare transition properties */
.slide-enter.slide-enter-active {
    transform: translateX(100vw);
    opacity: 1;
    transition: all 500ms  
}

/* EXIT TRANSITION */
.slide-exit {
    transform: translateX(-100);
    opacity: 1;
    
}

.slide-exit.slide-exit-active {
    transform: translateX(-100vw);
    opacity: 0;
    transition: all 500ms  ;
}


.slide-leave.slide-leave-active.left {
    transform: translateX(100vw);
    transition: transform 300ms linear;
}